
@{
    //ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@*<h1>
        <font color="blue">
            ABOUT OUR INFORMATION

        </font>

    </h1>
    <h2> ONLINE SHOPPING CART</h2>
    <h2>Name = Shubham Namdev Chaudhari </h2>
    <h2>Addres = Shirpur </h2>
    <h2>Contact no = 9112467147</h2>
    <h3>Our Online shop make you easy to use and it is benificial for you</h3>*@




<!DOCTYPE html>
@*<html>
    <head>
        <h1>Why to Purchase Product From Us</h1>

    </head>
    <body>



      <br>  -Products are very good in look
        <br> -Products are of low price</br>
        <br> -Easy to get</br>
        <br> - you can directly negotiate some of the terms and conditions, payment options, especially if you require unique or long term rental service;</br>
        <br> - you can book 'commission free';</br>
        <br> - you can reach us 24/7 on our mobile numbers;</br>
        <br> - you can call us free from the “Free call” service on our website;</br>

        <br>  We offer a varied types of Womwn Clothes with multiple types of unique varieties. All our Products are less is price, design for your comfort. All our Products are bought and maintained at official dealerships only.

        <br>  We pride ourselves on personalized service, great products and excellent rates

        <br> For More Information Contact Us on
        <br>  Contact Number - 9112467147
        <br>  Emial-id - Shop@gmail.com


    </body>
    </html>*@



<html lang="en">

<body>
    <div class="content-wrapper">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="cord-body mt-1">

                                <!-- Nav tabs -->
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div id="Insert" class="container-fluid tab-pane active">
                                        <div class="card-header bg-primary">
                                            <h7 class="font-weight-bolder text-center    text-white">
                                                <h1>Why to Purchase Product From Us</h1>

                                            </h7>


                                        </div>


                                        <br>  -Products are very good in look
                                        <br> -Products are of low price</br>
                                        <br> -Easy to get</br>
                                        <br> - you can directly negotiate some of the terms and conditions, payment options, especially if you require unique or long term rental service;</br>
                                        <br> - you can book 'commission free';</br>
                                        <br> - you can reach us 24/7 on our mobile numbers;</br>
                                        <br> - you can call us free from the “Free call” service on our website;</br>

                                        <br>  We offer a varied types of Womwn Clothes with multiple types of unique varieties. All our Products are less is price, design for your comfort. All our Products are bought and maintained at official dealerships only.

                                        <br>  We pride ourselves on personalized service, great products and excellent rates

                                        <br> For More Information Contact Us on
                                        <br>  Contact Number - 9112467147
                                        <br>  Emial-id - Ecom.Micraft@gmail.com


                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>

</html>